<app-header></app-header>

<app-product></app-product>

<app-footer></app-footer>



<div class="openfil">Open Filter</div>





<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.openfil').click(function(){
			$('.productfilter').addClass('openfilter');
		});
		$('.closefil').click(function(){
			$('.productfilter').removeClass('openfilter');
		});
	})
</script>

<script type="text/javascript">
    
    $("#categories").mouseenter(function(){
        $("#categoriesnav").show();
        $("#topstorenav").hide();
        $("#offernav").hide();
    });
    
    $("#categoriesnav").mouseleave(function(){
        $(this).hide();
    });
    
    $("#stores").click(function() {
        $("#topstorenav").toggle();
        $("#offernav").hide();
        $("#categoriesnav").hide();
    })
    $("#offers").click(function() {
        $("#topstorenav").hide();
        $("#offernav").toggle();
        $("#categoriesnav").hide();
    })

</script>


<script type="text/javascript">
    $(".ss-mn").click(function() {
        $("body").addClass("showMenu");
    })
    $(".closeLogin").click(function() {
        $("body").removeClass("showMenu");
    })

    $("#categories,#stores,#offers").click(function() {
        $(".ss-ctm").addClass("showNav");
    })
    $(".go-back-list").click(function() {
        $(".ss-ctm").removeClass("showNav");
    })

    $(".ss-smlk").click(function() {
        $(this).toggleClass("showSub");
    })

</script>