<div class="productfilter">

  <p class="closefil"><- Back</p>

  <h3><a href="#">Trending</a></h3>
  <h3><a href="#">Categories</a></h3>

  <h3>Filter By Related Store</h3>
  <div class="fbclidrop">
    
    <ul>
      <li><label class="fbcBox">Amazon<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">Flipkart<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">TataCliq<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">Shopclues<input type="checkbox"><span class="checkmark"></span></label></li>
      
    </ul>
  </div>

  <h3>Price Filter</h3>
  <div class="fbclidrop">
    
    <ul>
      <li><label class="fbcBox">Below 500<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">Upto 1000<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">Upto 5000<input type="checkbox"><span class="checkmark"></span></label></li>
      <li><label class="fbcBox">Upto 10000<input type="checkbox"><span class="checkmark"></span></label></li>
      
    </ul>
  </div>
</div>